.header__lang-link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 25px 0 0 65px;
}

.header__lang-link:last-child {
  margin: 25px 16px 0;
  text-decoration-line: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
    margin: 40px 19px 0 0;
  }

  .header__lang-link:last-child {
    margin: 40px 24px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
    margin: 42px 19px 0 0;
  }

  .header__lang-link:last-child {
    margin: 42px 48px 0 0;
  }
}
