.cover__link {
  text-decoration: none;
  background-color: rgba(16, 17, 18, 0.3);
  padding: 0 20px 0;
}



@media screen and (min-width: 768px) {
  .cover__link {
    padding: 115px 104px 213px;
  }

  .cover__link:hover {
    background-color: rgba(16, 17, 18, 0.8);
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    padding: 52px 232px 293px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    padding: 91px 312px 343px;
  }
}
