.place__image {
  max-width: 100%;
  margin: 19px 0 0;
}

@media screen and (min-width: 1024px) {
  .place__image {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    margin-top: 7px;
  }
}
