.place__paragraph {
  margin: 20px 16px 12px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 284px;
}

.place__paragraph:last-child {
  margin: 23px 16px 0;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 20px 0 0;
    max-width: 350px;
  }

  .place__paragraph:last-child {
    margin: 25px 0 0;

  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
    margin: 15px 0 0;
    max-width: 485px;
  }

  .place__paragraph:last-child {
    margin: 27px 0 0;

  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    margin: 6px 0 0;
  }
}
