.place {
  display: grid;
  grid-template-columns: minmax(288px, 485px);
  gap: 12px;
  margin: 29px 0 5px;;
}

.place:last-child {
  margin-top: 31px;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    margin: 0 24px 69px;
    gap: 28px;
  }

  .place:last-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    margin: 0 48px;
    gap: 32px;
  }

  .place:last-child {
    margin-top: -7px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 485px;
    margin: 0 148px;
    gap: 40px;
  }
}
